.categorie_white{
    background-color: rgba(255, 255, 255, 0);
}

.p20{
    padding: 20px;
}

.categorie_anemo{
    background-image: url('../img/other/wind.png'),
    linear-gradient(#329b9a, #26d091);
    /* background-size: 100% 100%; */
    
}
.categorie_cryo{
    background-image: url('../img/other/ice.png'),
    linear-gradient(#61d6ed, #4bb1e140);
  
}
.categorie_hydro{
    background-image: url('../img/other/bulle.png'),
    linear-gradient(#07d6ffba, #0e1ee4);
    background-size:  auto 100%;
  
}
.categorie_geo{
    background: linear-gradient(#ab5627, #000);
}
.categorie_electro{
    background-image: url('../img/other/foudre.png'),
    linear-gradient(#5288e3ab, #880ff7);
}
.categorie_pyro{
    background-image:  url('../img/other/fire.png'),
    linear-gradient(#EF9210, #e80c0c);

}

.textColorWhite{
    color: white;
    font-weight: bold;
}

.textColorBlack{
    color: rgb(0, 0, 0);
    font-weight: bold;
}


.card{
    border: 2px solid black;
    padding: 5px;
}
.card img{
    border: 2px solid black;

}